{% extends 'base.html' %}
{% load humanize %}
{% load learntags %}
{% block title %}{{ block.super }}-templates{% endblock title %}
{% block content %}
<style type="text/css">
	.fs{
		color: red;
	}
</style>
<div class="container">
	{% for obj in queryset %}
	
		<!-- <li class="{% cycle 'fs' '' %}">{{ obj }}</li> -->
		<!-- {{ obj.description|length }}<br> -->
		<!-- {{ obj.name|filesizeformat }} only for number  -->
		<!-- {# Hello World #} comment -->
		<!-- {{ obj.description|safe }} -->
		<!-- {{ forloop.revcounter }} -->
		<!-- {{ forloop.last }} -->
		<!-- {% lorem 13 w %} -->
		<!-- {% now "jS F Y H:i" %} -->
		<!-- {{ obj.created_at|timesince }} -->
		<!-- {{ obj.created_at|naturalday }} -->

	{% empty %}
		<p>Not Found</p>
	{% endfor %}
	{% include 'apps/form.html' with btn_title="submit" %}

	<!-- {{ value|urlencode:"" }} -->
	{{ "sajib"|learntags:'3' }}

	{{ 1|apnumber }}
	{{ 4500000|intcomma }}
	{{ 1200000|intword }}
	{{ 3|ordinal }}

	{{ request.current_time }}
	{{ request.current_name }}
	{{ request.response_time }}
	<br><br>

	<!-- export csv and excel -->
	<a href="{% url 'export-csv' %}" class="btn btn-outline-danger">Export CSV</a>
	<a href="{% url 'export-excel' %}" class="btn btn-outline-danger">Export Excel</a>

	<br><br>

	<form action="{% url 'import-data' %}" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    <label for="file format">File Format</label>
	    <select name="file_format">
			<option value="csv">Csv</option>
			<option value="excel">Excel</option>
		</select>

	    <input type="file" name="import_file" required="True">
	    <button type="submit" class="btn btn-primary">Import File</button>
  	</form>

</div>
{% endblock content %}